DB_URL=jdbc:postgresql://localhost:5432/vehicle_lab
DB_USERNAME=postgres
DB_PASSWORD=postgres
SERVER_PORT=6767
LAB_USER=student
LAB_PASSWORD=student123
LAB_SECOND_USER=teacher
LAB_SECOND_PASSWORD=teacher123
